#content_page_wrapper .format-slideshow{
    position:relative;
    width:100%;
    z-index:0
}
#content_page_wrapper .format-slideshow .format-slideshow__slide,#content_page_wrapper .format-slideshow .format-slideshow__slide-group{
    left:0;
    top:0;
    -webkit-transition-delay:1ms;
    transition-delay:1ms
}
#content_page_wrapper .format-slideshow .format-slideshow__slide-image-wrapper{
    width:100%;
    height:100%
}
#content_page_wrapper .format-slideshow .format-slideshow__slide-link{
    display:inline-block;
    padding:15px 30px;
    border-width:1px;
    border-style:solid;
    font-size:14px;
    line-height:1;
    text-decoration:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    -webkit-transition:opacity 0.3s ease;
    transition:opacity 0.3s ease;
    border-radius:2px
}
#content_page_wrapper .format-slideshow .format-slideshow__slide-link:hover{
    opacity:0.8
}
#content_page_wrapper .format-slideshow .format-slideshow__slide-link--solid{
    color:#000000;
    background-color:#ffffff;
    border-color:#ffffff
}
#content_page_wrapper .format-slideshow .format-slideshow__slide-link--outline{
    color:#ffffff;
    background-color:transparent;
    border-color:#ffffff
}
#content_page_wrapper .format-slideshow .format-slideshow__slide-content,#content_page_wrapper .format-slideshow .format-slideshow__slide-overlay{
    pointer-events:none
}
#content_page_wrapper .format-slideshow .format-slideshow__slide-content,#content_page_wrapper .format-slideshow .format-slideshow__slide-count-container,#content_page_wrapper .format-slideshow .format-slideshow__link-wrapper{
    z-index:5
}
#content_page_wrapper .format-slideshow .format-slideshow__slide-overlay{
    z-index:4
}
#content_page_wrapper .format-slideshow .format-slideshow__slide-heading,#content_page_wrapper .format-slideshow .format-slideshow__slide-description,#content_page_wrapper .format-slideshow .format-slideshow__slide-link{
    pointer-events:all
}
#content_page_wrapper .format-slideshow .format-slideshow__slide-content{
    z-index:5
}
#content_page_wrapper .format-slideshow .format-slideshow__slide-image.loading,#content_page_wrapper .format-slideshow .format-slideshow__slide-image.failed{
    background-color:black
}
#content_page_wrapper .format-slideshow .format-slideshow__slide-heading{
    color:#fff;
    color:var(--primary-color);
    font-family:var(--heading-typography-font-family);
    overflow:hidden
}
#content_page_wrapper .format-slideshow .format-slideshow__slide-description{
    color:#fff;
    color:var(--primary-color);
    font-family:var(--description-typography-font-family);
    overflow:hidden
}
#content_page_wrapper .format-slideshow .format-slideshow__dot-container,#content_page_wrapper .format-slideshow .format-slideshow__arrow{
    z-index:6
}
#content_page_wrapper .format-slideshow .format-slideshow__arrow{
    background:none;
    border:none;
    outline:none;
    padding:0;
    -webkit-transition:opacity 0.3s ease;
    transition:opacity 0.3s ease
}
@media (hover: hover){
    #content_page_wrapper .format-slideshow .format-slideshow__arrow:hover{
        opacity:0.7
    }
}
#content_page_wrapper .format-slideshow .format-slideshow__arrow:active{
    opacity:0.7
}
#content_page_wrapper .format-slideshow:not(.transitioning) .format-slideshow__arrow:disabled{
    cursor:none;
    opacity:0.3
}
 